body{width: 100%;}

#title1{font-size: 17px;letter-spacing:2px;}

#title2{font-size: 16px;}

#title3{font-size: 15px;letter-spacing: 2px;}

h2{font-size: 15px;letter-spacing: 2px;}

p{font-size: 15px;letter-spacing: 0px;}

hr{margin-left: -5px;margin-top:20px;}

#container{position: relative;width: 90%;margin: 0 auto;}

#top{padding-top: 20px;}

#rights{width: 20%;padding-top: 15px; }

#icon{width: 100%;height: 100%;}

#left{display: none;}

#right{width: 100%;}

#registry{left: 80px;font-size: 16px;letter-spacing: 1px;}

#qrcode{left:7%;}

#code{margin-top: 20px;}

#bottom{position: relative;margin-top: 760px;}

#term{width: 100%;position: absolute;display: block;float: left;padding-bottom: 0px;}

#blockchain{width: 45%;float: left;left: 29%;top: 350px;padding-bottom: 20px;}