<!doctype html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title></title>
        <link rel='stylesheet' type='text/css' href="style/style.css">

        <link rel="stylesheet" media="only screen and (min-width: 769px) and (max-width: 980px)" type="text/css" href="style/mobile05.css"/>
		<link rel="stylesheet" media="only screen and (min-width: 641px) and (max-width: 768px)" type="text/css" href="style/mobile04.css"/>
		<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 640px)" type="text/css" href="style/mobile03.css"/>
		<link rel="stylesheet" media="only screen and (min-width: 321px) and (max-width: 480px)" type="text/css" href="style/mobile02.css"/>
		<link rel="stylesheet" media="only screen and (min-width: 0px) and (max-width: 320px)" type="text/css" href="style/mobile01.css"/>
    </head>
    <body>
        <div id="container">

            <div id="top">
                <p id="title1">Registro de Copyright</p>
                <p>Em 17/01/2018 15:20 Lucas Rodríguez registrou essa criação.</p>

                <p>Ao validar o email enviado pela <span id="fantasia">Orights</span> ou receber este arquivo
                e codigo blockchain,</br> você reconhece o autor desta criação.</p>
            </div>

            <div id="rights">
                <img id="icon" src="rights.jpg">
            </div>

            <div id="left">
                <div id="thumbnail">
                    <img id="miniatura" src="img.jpg" alt="TRUMBNAIL DO PROJETO OU CRIAÇÃO">
                </div>
                <p id="copy">&copy;Todos os Direitos Reservados ao Autor</p>
            </div>

            <div id="right">
                <p id="title2">TÍTULO:</p>
                <p id="registry">Nome do Registro</p>

                <p>Criado por: Lucas Rodríguez </p>
                <p>Proprietário: Lucas Rodríguez <p/>
                <hr>

                <p id="title3">DESCRIÇÃO DO TRABALHO</p>
                <p>ID do Trabalho: mesmo do cadastro</p>
                <p id="abstract">
                    Resumo: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Tristique magna sit amet purus. Molestie at elementum eu facilisis sed odio morbi. Est ultricies integer quis auctor elit. Pharetra et ultrices neque ornare aenean euismod.
                </p>

                <hr>
                <p id="title3">HISTÓRICO DO REGISTRO</p>
                <p>17/01/2018 15:20 - Registrado por: Lucas Rodríguez</p>

                <hr>
                <p id="title3">REGISTRO CRIPTOGRAFADO</p>
                <p>Use os dados abaixo para verificar o registro</p>
                <p>Link: <a href="#">para download do PDF clicável</a></p>
                <p>Registro Blockchain:</p>
                <div id="idBlockchain">
                    <p id="id">
                    23823743277237237237237273238237237273127712712717271291212717712717217223267812h3812737281283812732193821312312312332132127232312626727321737237723723747234723747237272721721737217127127312731723712712372342342342342342239238238237428772772372372737327237
                    </p>
                </div>

                <div id="qrcode">
                    <img src="qrcode.jpg"/>
                    <p id="code">QR CODE DO BLOCKCHAIN</p>
                </div>
            </div>

            <div id="bottom">
                <div id="term">
                    <h2>Obrigado por aceitar os termos de uso do Orights.com.br</h2>
                    <p>Você recebeu um email de um parceiro que dividiu a criação de uma propriedade
                    intelectual contigo, isso significa que confia muito em você.</p>

                    <p>A Orights.com.br gerou um certificado via blockchain. Desta forma, o código deste
                    conteúdo está registrado em centenas de computadores e atestam a propriedade intelectual.</p>

                    <p>Caso queira consultar mais sobre as bases legais do uso indevido de propriedade,
                    acesse o link <a style="color:#7853B1;" href="www.orights.com.br/termosdeuso">www.orights.com.br/termosdeuso</a></p>
                </div>

                <div id="blockchain">
                    <img src="orights-selo.jpg">
                </div>
            </div>
        </div>
    </body>
</html>